{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div class="row">
    <div class="col s6 offset-s3">
        {{ range (where .Site.RegularPages "Section" "eq" "associations") }}
            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ .Params.Photo }}" alt="event's photo">
                        </div>
                        <div class="card-content">
                            <span class="card-title"><a href="{{ .Permalink }}">{{ .Params.Title }}</a></span>
                            <span>{{ .Params.Domain }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}