<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <form method="POST" action="https://docs.google.com/forms/d/e/1FAIpQLScxXXv59WLY98xDZWIlTOBegWBbqmC-4U41fm4p96gWBASJ-w/formResponse">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="entry.2005620554" id="email" type="email" class="validate indigo-text text-lighten-5">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="entry.1045781291" id="subject" type="text" class="validate indigo-text text-lighten-5">
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="entry.839337160" id="message" class="materialize-textarea indigo-text text-lighten-5"></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <div class="col l4 offset-l2 s12">
                <div style="width: 400px;position: relative;"><iframe width="400" height="350" src="https://maps.google.com/maps?width=400&amp;height=350&amp;hl=en&amp;q=Lyon%2C%2044%20rue%20Michel%20Felizat+(Titre)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/ja/">Googlemapsgenerator.com/ja/</a> & <a href="http://brightononline.ca/fr/">custommapprints (fr)</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Romain Cordier
        <a class="grey-text text-lighten-4 right" href="tel:0472103030">Tel: 04 72 10 30 30</a>
        </div>
    </div>
</footer>
          

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/my-gohugo-materialize.js"></script>

</body>
</html>