<ul id="slide-out" class="sidenav">
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
            <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
            </form>
        </div>
    </nav>
    <div class="collection">
        {{ range where .Site.RegularPages "Section" "eq" "associations" }}
            {{ if eq .Params.Important true }}
                <a href="{{ .Permalink }}" class="collection-item">{{ .Params.Title }}</a>
            {{ end }}
        {{ end }}
    </div>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large"><i class="material-icons indigo-text text-lighten-5">search</i></a>
