<ul id="dropdown1" class="dropdown-content blue-grey darken-4">
    <li><a href="/events" class="teal-text text-accent-3">All Events</a></li>
    <li><a href="/upcoming" class="teal-text text-accent-3">Upcoming</a></li>
    <li><a href="/archived" class="teal-text text-accent-3">Archived</a></li>
</ul>

<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo indigo-text text-lighten-5">My Gohugo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        <li><a href="/" class="teal-text text-accent-3">Home</a></li>
        <li><a href="/conseil-municipal" class="teal-text text-accent-3">Municipal Council</a></li>
        <li><a href="/associations" class="teal-text text-accent-3">Associations</a></li>
        <li><a class="dropdown-trigger teal-text text-accent-3" href="#!" data-target="dropdown1">Events<i class="material-icons right teal-text text-accent-3">arrow_drop_down</i></a></li>
        <li><a href="/calendar" class="teal-text text-accent-3">Calendar</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav blue-grey darken-4" id="mobile-demo">
    <li><a href="/" class="teal-text text-accent-3">Home</a></li>
    <li><a href="/conseil-municipal" class="teal-text text-accent-3">Municipal Council</a></li>
    <li><a href="/associations" class="teal-text text-accent-3">Associations</a></li>
    <li><a href="/events" class="teal-text text-accent-3">All Events</a></li>
    <li><a href="/upcoming" class="teal-text text-accent-3">Upcoming</a></li>
    <li><a href="/archived" class="teal-text text-accent-3">Archived</a></li>
    <li><a href="/calendar" class="teal-text text-accent-3">Calendar</a></li>
</ul>