<div class="row">
    <div class="container center-align">
        {{ range (where .Site.RegularPages "Section" "eq" "presentation") }}
            <p><img class="responsive-img" src="{{ .Params.Photo }}" alt="lyon"></p>
            <p>{{ .Content }}</p>
        {{ end }}
    </div>
</div>