<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="{{ .Params.Photos }}" alt="event's photo">
            </div>
            <div class="card-content">
                <span class="card-title teal-text text-accent-3">{{ .Params.Title }}</span>
                <p>{{ .Params.Address.Address }} {{ .Params.Address.PostalCode }} {{ .Params.Address.City }}</p>
                <p>Le {{ dateFormat "2006-01-02" .Params.When }}</p>
            </div>
        </div>
    </div>
</div>