<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ .Params.Title }}</span>
                <span>{{ .Params.Domain }}</span>
                {{ $nameAsso:= .Title }}
                <h6>Upcoming Events</h6>
                <div class="collection">
                    {{ range (where .Site.RegularPages "Section" "eq" "events").ByParam "when" }}
                        {{ if and (eq .Params.Association $nameAsso) (ge .Params.When (now.Format "2006-01-02")) }}
                            <a href="{{ .Permalink }}" class="collection-item">{{ .Params.Title }}</a>
                        {{ end }}
                    {{ end }}
                </div>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header collapsible-archived-events-in-association"><h6>Show archived events</h6></div>
                        <div class="collapsible-body">
                            <div class="collection">
                            {{ range (where .Site.RegularPages "Section" "eq" "events").ByParam "when" }}
                                {{ if and (eq .Params.Association $nameAsso) (lt .Params.When (now.Format "2006-01-02")) }}
                                    <a href="{{ .Permalink }}" class="collection-item">{{ .Params.Title }}</a>
                                {{ end }}
                            {{ end }}
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>