
{{ partial "head" . }}

<div class="wrapper">
    {{ partial "header" . }}

    {{ partial "presentation.html" . }}

    <div class="row">
        <div class="col s12 tree">
            <ul>
                <li>
                    {{ range where .Data.Pages "Section" "eq" "conseil-municipal" }}
                        {{ if or (eq .Params.Role "mayor") (eq .Params.Role "Mayor") }}
                            <a href="#">
                                <p>{{ .Params.FirstName }} {{ upper .Params.LastName }}</p>
                                <p><img src="{{ .Params.Photo }}" alt="CEO"></p>
                                <p>{{ .Params.role }}</p>
                            </a>
                        {{ end }}
                    {{ end }}
                    
                    <ul>
                        {{ range where .Data.Pages "Section" "eq" "conseil-municipal" }}
                            {{ if and (ne .Params.role "mayor") (ne .Params.role "Mayor") }}
                                <li>
                                    <a href="#">
                                        {{ .Params.FirstName }}
                                        <img src="http://placehold.it/110x110" alt="CFO">
                                        {{ .Params.Role }}
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    {{ partial "footer.html" . }}
</div>