* { 
    margin: 0; 
    padding: 0;
}
  
.tree {
    font-family: 'Avenir Book', sans-serif;
    width:1000px;
    margin:0 auto;
}

.tree ul {
    padding-top: 20px; 
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/* connectors */

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}

.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}


.tree ul ul ul {
    max-width:140px;
}
.tree ul ul ul li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 0 5px 10px 5px;
    border-left: 1px solid #ccc;
    border-left:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    margin-left:10px;
    top:-10px;
}

.tree ul ul ul li:before {
    border-top: 1px solid #ccc;
    position:relative;
    top:20%;
    width:10%;
}
.tree ul ul ul li::after{
    right: auto; 
    left: -1px;
    border-left: 1px solid #ccc;
    border-bottom:1px;
    height:70px;
}

.tree ul ul ul li:only-child::after, .tree ul ul ul li:only-child::before {
    display: none;
}

.tree ul ul ul li:only-child{
    padding-top: 0;
}


.tree ul ul ul li:first-child::before, 
.tree ul ul ul li:last-child::after{
    border:none;
}

.tree ul ul ul li:last-child::after {
    border-bottom:1px solid #ccc;
    top:-52px;
    width:7px;
}

.tree ul ul ul li:last-child::before{
    border-right: 0;
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
}

.tree ul ul ul li:first-child::after{
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
}


.tree ul ul ul::before{
    content: '';
    position: absolute; 
    top: 0; 
    left:9px;
    border-left: 1px solid #ccc;
    width: 0; 
    height: 100px;
}

.tree ul ul ul li img {
    margin:0;
    padding:0;
    padding-right:3px;
}


.tree li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li a:hover, .tree li a:hover+ul li a {
    background: #e57373; color: #fff; border: 1px solid #e57373;
}

.tree ul ul ul li a:hover {
    border-color: #ccc;
}

.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before {
    border-color:  #e57373;
}

.tree li a {
    max-width:200px;
}

.tree li a img {
    float:left;
    margin-bottom:5px;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 180px;
}